In [215]:
import pandas as pd

df = pd.read_csv('customer_data.csv')

In [216]:
#2. View the first 5 rows of the dataset to understand its structure.
df.head(5)

  prefix    first       last  ...    weekday ampm        date
0    Dr.      Ray     Morton  ...     Sunday   pm  04/05/1930
1   Miss  Claudia  Rodriquez  ...    Tuesday   am  12/20/1926
2   Miss    Harry      Meyer  ...  Wednesday   pm  08/20/1931
3   Miss    Edith    Gilbert  ...   Saturday   am  06/18/2001
4    Dr.     Lura     Murphy  ...     Friday   pm  06/14/2045

[5 rows x 20 columns]

In [217]:
#3. How many rows and columns are in the dataset?
df.shape 
#30000 rows and 21 columns

(30000, 20)

In [218]:
#4. Find the maximum, minimum, and mean age of the customers.
df.agg(max_age=('age', 'max'), 
      min_age=('age', 'min'),
      mean_age=('age', 'mean'))

                age
max_age   65.000000
min_age   18.000000
mean_age  41.550067

In [219]:
#5. What are the three most common customer names?
df['customer_full_name']=df['first'] + " " + df['last']
df.value_counts('customer_full_name').reset_index().head(3)

  customer_full_name  count
0     Henrietta Luna      4
1         Belle Hale      3
2        Dora Foster      3

In [220]:
#6. Identify the customers who have the same phone number.?
duplicate=df.value_counts('phone').reset_index()[df.value_counts('phone').reset_index()['count']>1]['phone'].item()
df.loc[df['phone']==duplicate]

   prefix  first   last  ... ampm        date  customer_full_name
15   Mrs.  Lilly  Tyler  ...   am  03/30/1985         Lilly Tyler
16   Mrs.  Peter   Cain  ...   am  08/05/1950          Peter Cain

[2 rows x 21 columns]

In [221]:
#7. How many customers have the profession “Structural Engineer”?
len(df[df['profession']=="Structural Engineer"])

87

In [222]:
#8. How many male customers are Structural Engineers?
len(df[df['profession']=="Structural Engineer"].loc[df[df['profession']=="Structural Engineer"]['gender']=="Male" ,:])

43

In [223]:
#9. Find the female Structural Engineers from the province of Alberta (AB)
df.loc[(df['profession']=="Structural Engineer") & (df['province']=="AB") & (df['gender']=="Female")]

      prefix first      last  ... ampm        date  customer_full_name
8858     Dr.   Roy   Stanley  ...   pm  12/25/1903         Roy Stanley
9058     Mr.  Lora   Kennedy  ...   pm  06/06/2028        Lora Kennedy
24736   Mrs.  Nell  Richards  ...   pm  07/14/1951       Nell Richards
29865   Mrs.   Don  McDaniel  ...   pm  11/03/1989        Don McDaniel

[4 rows x 21 columns]

In [224]:
#10. What is the maximum, minimum, and average spending amount?
df.agg(max=('price(CAD)', 'max'), 
      min=('price(CAD)', 'min'),
      average=('price(CAD)', 'mean'))

         price(CAD)
max      100.000000
min        0.000000
average   49.990775

In [225]:
#11. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!
df[df['price(CAD)']==0]

      prefix  first   last  ... ampm        date  customer_full_name
5320     Dr.  Bruce  Bryan  ...   am  12/11/1900         Bruce Bryan
10597   Mrs.  Flora  Clark  ...   pm  08/22/1904         Flora Clark

[2 rows x 21 columns]

In [226]:
#12. As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?
df[df['price(CAD)']>=100]

      prefix    first         last  ... ampm        date  customer_full_name
76      Mrs.  Gregory        Brown  ...   am  10/23/2063       Gregory Brown
21093   Mrs.     Cody  Christensen  ...   pm  03/28/1955    Cody Christensen
24385   Miss   Lizzie        Dixon  ...   pm  03/03/1983        Lizzie Dixon

[3 rows x 21 columns]

In [227]:
#13. How many emails are associated with this credit card number ‘5020000000000230’?
len(df[df['cc_no']==5020000000000230]['email'].unique())

2

In [228]:
#14. We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?
len(df[df['cc_exp'].str.endswith('2019')])

2684

In [229]:
#15. How many people use Visa as their Credit Card Provider?
len(df[df['cc_type']=='Visa'])

1721

In [230]:
#16. Can you find the customer who spent 100 CAD using Visa?
df[(df['cc_type']=='Visa') & (df['price(CAD)']==100)]

   prefix    first   last  ... ampm        date  customer_full_name
76   Mrs.  Gregory  Brown  ...   am  10/23/2063       Gregory Brown

[1 rows x 21 columns]

In [231]:
#17. What are two most common professions?
df.value_counts('profession').head(2).to_frame()

                      count
profession
Preschool Teacher       112
Distribution Manager    107

In [232]:
#18. Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc…)
df['email'].str.split("@", expand=True)[1].value_counts().head(5).to_frame()

             count
1
gmail.com     1687
me.com        1676
outlook.com   1664
live.com      1660
hotmail.com   1659

In [233]:
#19. Is there any customer who is using email with “am.edu”?
df[df['email'].str.endswith("am.edu")]

    prefix    first      last  ... ampm        date  customer_full_name
150   Miss  Loretta  Fletcher  ...   am  11/07/2066    Loretta Fletcher

[1 rows x 21 columns]

In [234]:
#20. Which day of the week, the store gets more customers?
df.value_counts('weekday').head(1).reset_index()['weekday'].tolist()

['Saturday']